.note {
    position: absolute;
    margin: auto;
    width: 100px;
    height: 50px;
    overflow-y: hidden;
    word-wrap: break-word;
    resize: both;
}

body {
    padding: 0;
    margin: 0;
}

.canvaswrapper {
    width: 100%;
    margin: auto;
}

#maincanvas {
    margin: 0 auto;
    border: 1px solid #000;
    overflow: hidden;
    position: absolute;
    left: 50px;
    /*top: 0;*/
}

.notearea {
    float: right;
    width: 200px;
    border: 1px solid #000;
    -webkit-user-select: none;
    position: relative;
    right: 0;
}

.headerwrapper {
    margin: auto;
    width: 500px;
}

#mainheader {
    width: 100%;
    position: fixed;
    height: 100px;
    letter-spacing: 3px;
    padding-top: 25px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    font-size: 2.5em;
}

.outer {
    box-shadow: 0 8px 23px -15px rgba(0,0,0,0.2);
}
.headercontainer {
    box-shadow: 0 8px 23px -15px rgba(0,0,0,0.75);
}

.dragWrapper {
    max-height: 400px;
    overflow: auto;
}

#frm1 {
    width: 220px;
    overflow-y:auto;
    display:block;
}

.dropbtn {
    float: right;
    border: none;
    background-color: transparent;
}

.dropdown-content {
    display: none;
}

.dropdown-content a {
    display: block;
}

.show {display:block;}