.note {
    position: absolute;
    margin: auto;
    width: 100px;
    height: 50px;
    overflow-y: hidden;
    word-wrap: break-word;
    resize: both;
}

body {
    padding: 0 !important;
    margin: 0 !important;
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:960px;
}

#maincanvas {
    margin: auto;
    width: 1000px;
    border: 1px solid #000;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

.notearea {
    float-wrap: none;
    margin: auto;
    width: 200px;
    border: 1px solid #000;
    -webkit-user-select: none;
    position: relative;
}

#mainheader {
    position: fixed;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    font-size: 3.5em;
}

.outer {
    box-shadow: 0 8px 23px -15px rgba(0,0,0,0.2);
}
.headercontainer {
    box-shadow: 0 8px 23px -15px rgba(0,0,0,0.75);
}

.dragWrapper {
    max-height: 400px;
    overflow: auto;
}

#frm1 {
    width: 220px;
    overflow-y:auto;
    display:block;
}

.dropbtn {
    float: right;
    border: none;
    background-color: transparent;
}

#myDropdown {
    float: right;
    clear: left;
}

.dropdown-content {
    display: none;
}

.dropdown-content a {
    display: block;
}

.show {display:block;}